{% extends 'layout.html' %}

    {% block content %}

    <div class="container mt-5">
      <div class="row">
        <div class="col md-3">
          <div class="card bg-danger">
            <div class="card-body" >
              <h1><ins>Brain-Tumour</ins></h1><br><br>
              <form action="/uploader" method='post' enctype="multipart/form-data">
                <label for="myfile"><h4><ins>Input Your Report: </ins></h4></label><br><br>
                <input class="form-control" type="file" name="imagefile">
                <input class="btn btn-primary mt-3" type="submit" value="Get Analysis">
              </form>
            </div>
          </div>
        </div>

        <div class="col md-3">
          <div class="card bg-warning">
            <div class="card-body">
              <h1><ins>Pneumonia</ins></h1><br><br>
              <form action="#">
                <label for="myfile"><h4><ins>Input Your Report: </ins></h4></label><br><br>
                <input class="form-control" type="file" name="imagefile">
                <input class="btn btn-primary mt-3" type="submit" value="Get Analysis">
              </form>
            </div>
          </div>
        </div>

        <div class="col md-3">
          <div class="card bg-info">
            <div class="card-body">
              <h1><ins>Malaria</ins></h1><br><br>
              <form action="#">
                <label for="myfile"><h4><ins>Input Your Report: </ins></h4></label><br><br>
                <input class="form-control" type="file" name="imagefile">
                <input class="btn btn-primary mt-3" type="submit" value="Get Analysis">
              </form>
            </div>
          </div>
        </div>
      </div>

    {% endblock %}
